.advancedFilter{
 background-color:#FFFFFF;
 display:none;
 text-align:left;
 position: fixed;
 top: 220px;
 left: 60px;
 padding: 5px 15px 2px;
}

.advancedFilter h2{
  font-size: 14px;
  font-family: 'roboto_regular', Arial, Sans-serif;
  margin-top: 0px;
  text-align:center;
}

.advancedFilter label{
  margin-right: 2px;
  margin-left: 2px;
}

.advancedFilter legend{
  font-size: 13px;
  font-style: italic;
  margin-bottom: 5px;
}
