#btnGeoloc-custom-component {
    position: absolute;
    bottom: 7px;
    right: 400px;
}

#btnGeoloc-custom-component button {
    background-color: #f44336;
    border: none;
    color: #ffffff;
    font-family: var(--myfont);
    padding: 10px;
    line-height: 1;
    font-size: 14px;
    font-weight: 600;
    border-radius: 2px;
}

/* Position du btn en mode xs */
.xs #btnGeoloc-custom-component {
    position: fixed!important;
    bottom: 10px!important;
    right: 20%!important;
}