name: "Build & Push Docker image -lite for master and develop branch"

permissions:
  contents: read

on:
  push:
    branches:
      - master
      - develop

jobs:
  docker-build:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v4

      - name: "Determine Docker image tag"
        if: github.repository == 'mviewer/mviewer'
        run: |
          if [[ "${GITHUB_REF}" == "refs/heads/master" ]]; then
            echo "VERSION=stable-lite" >> $GITHUB_ENV
          elif [[ "${GITHUB_REF}" == "refs/heads/develop" ]]; then
            echo "VERSION=latest-lite" >> $GITHUB_ENV
          else
            echo "This action only works with master or develop branch"
            exit 1
          fi
          echo "Docker tag set to: ${VERSION}"

      - name: "Build Docker image"
        if: github.repository == 'mviewer/mviewer'
        run: |
          docker build -t mviewer/mviewer:${VERSION} .

      - name: "Login to Docker Hub"
        if: github.repository == 'mviewer/mviewer'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: "Push Docker image"
        if: github.repository == 'mviewer/mviewer'
        run: |
          docker push mviewer/mviewer:${VERSION}
