name: "Build & Push Docker image -lite on release"

permissions:
  contents: read

on:
  release:
    types:
      - published

jobs:
  docker-build:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v4

      - name: "Determine Docker tag"
        id: version
        if: github.repository == 'mviewer/mviewer'
        run: |
          DOCKER_TAG=$(echo "${GITHUB_REF}" | cut -d'/' -f3)
          echo "VERSION=${DOCKER_TAG}-lite" >> $GITHUB_ENV
          echo "Docker tag will be: ${DOCKER_TAG}-lite"

      - name: "Build Docker image"
        if: github.repository == 'mviewer/mviewer'
        run: |
          docker build -t mviewer/mviewer:${VERSION} .

      - name: "Login to Docker Hub"
        if: github.repository == 'mviewer/mviewer'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: "Push Docker image"
        if: github.repository == 'mviewer/mviewer'
        run: |
          docker push mviewer/mviewer:${VERSION}